/*:root{
	--primary-color: #edf2fc;
	--secondary-color: #212121;

	--primary-color: #000106;
	--secondary-color: #fff;
	
	
	
	color-scheme: dark;

}

body {
	
	background-color: var(--primary-color);
	color: var(--secondary-color);
	

	background-color: black;
	color: white;
	
}

.dark-mode {
	background-color: black;
	color: white;
}


#iconz{
	cursor: pointer;
	position: relative;
	top: 22px;
	left: 540px;
}
*/


.header {
	background-color: #ffda6a;
}

.row {
	padding-left: 50px;
	padding-right: 50px;
}

.title{
	text-align: center;
}

.message{
		padding-left: 50px;
		padding-right: 50px;
}

.button{
		align-items: center;
			
}

