{% set title = "About" %}
{% extends "base.html" %}
{%block body%}
        <br>
        <h1 class="text-center">Our Story</h1>
        <br>
        <br>
        <p class="text-center">It all started with a shared love for cats...</p>
        <br>
        <p class="text-center">Sprinkle in a few bored CS college students and you have a recipe for the number one cat rating social media app since sliced bread!</p>
        <br>
        <p class="text-center">Using our propietary cat detection technology, you too can make this world a better and safer place. Just uppurr or downpurr other users cat or if you’re feeling confident in your cat picture abilities, go ahead and post one for the whole world to judge you!</p>
        <br>
        <p class="text-center">FeralFeed provides a unique opportunity for cat lovers to communicate with eachother with a focus on mankinds greatest creation - cats.</p>
{%endblock%}



