{% set title = "" %}
{% extends "feed.html" %}

{%block landing%}

    {%block post%}{%endblock%}
    {% block comment%}
    
    <div class="form-group">
        <br>
        {%for post in posts%}
        <form action="/posts/{{post['id']}}/comments" method="post">
        <label class="mb-2" for="comment">Commenting as <span class="link-primary" role="button">{{user_name}}</span></label>
        {%endfor%}
        <textarea
            id="comment"
            class="form-control mb-3"
            name="comment"
            rows="3"
            placeholder="Share your thoughts"></textarea>
          
            <div class="text-center">
          
            <button type="submit" class="btn btn-dark rounded-0 rounded-pill">Add Comment</button>
        
        </div>
        </form>
    </div>
    {% endblock %}

    

{%endblock%}




