{% set title = "" %}
{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/feed.css') }}">

	<script defer src="{{ url_for('static', filename='js/feed.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center p-3">
		<div class="col-xxl-10 d-flex justify-content-between">

			<div class="sidebar me-3">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title text-center">Trending Posts</h5>

						<button type="button"
							class="btn btn-outline-dark d-flex align-items-center mb-2 w-100">
							<span class="me-3 text-secondary">512</span>

							<div>
								<h6 class="card-title mb-2 text-start">Say hello to this cutie</h5>

								<small class="card-subtitle d-block text-secondary text-start">
									Posted by: Example_User-1
								</small>
							</div>
						</button>

						<button type="button"
							class="btn btn-outline-dark d-flex align-items-center mb-2 w-100">
							<span class="me-3 text-secondary">256</span>

							<div>
								<h6 class="card-title mb-2 text-start">Say hello to this cutie</h5>

								<small class="card-subtitle d-block text-secondary text-start">
									Posted by: Example_User-1
								</small>
							</div>
						</button>

						<button type="button"
							class="btn btn-outline-dark d-flex align-items-center w-100">
							<span class="me-3 text-secondary">128</span>

							<div>
								<h6 class="card-title mb-2 text-start">Say hello to this cutie</h5>

								<small class="card-subtitle d-block text-secondary text-start">
									Posted by: Example_User-1
								</small>
							</div>
						</button>
					</div>
				</div>
			</div>
			
			
			<div class="feed-column me-3">
				{% block post %}
				<div class="card mb-3 shadow">
					<div class="card-body">
						<h5 class="card-title">Create Post</h5>		
						<form
							id="userPost"
							class="card-text"
							action="/posts"
							method="post"
							enctype="multipart/form-data">
							{% for color in tags %}
								<input type="checkbox"
									id="{{ color }}-tag-input"
									class="btn-check"
									name="{{ color }}-tag"
									autocomplete="off">

								<label
									class="btn btn-outline-dark btn-sm mb-3"
									for="{{ color }}-tag-input">{{ color.capitalize() }} Cats
								</label>
							{% endfor %}

							<label class="d-block mb-2" for="title">Title</label>
    						<input type="text"
								id="title"
								class="form-control mb-3"
								name="title"
								placeholder="Enter Title">

							<div class="form-group">
								<label class="mb-2" for="description">Description</label>

								<textarea
									id="description"
									class="form-control mb-3"
									name="description"
									rows="3"></textarea>
							</div>

							<label class="mb-2" for="picture">Cat Picture</label>

							<div class="form-group">
								<input type="file"
									id="picture"
									class="form-control"
									name="picture"
									accept=".png, .jpeg, .jpg">
							</div>
						</form>
					</div>
					<input type="submit" form="userPost" class="btn btn-dark rounded-0 rounded-bottom"/>

				</div>
				{% endblock %}
				

				
				{% if posts|length > 0 %}
					<div class="d-flex justify-content-center mb-3">
						
						{% for ordering in ["top", "new", "rising", "favorite"] %}
			
							<button type="button" class="sort-button btn btn-outline-dark{{ '' if ordering == 'favorite' else ' me-1' }}">
								{{ ordering.capitalize() }}
							</button>
							
						{% endfor %}
						
					</div>


					<div class="card">
						{% for post in posts %}
							<div class="card-body d-flex justify-content-between">
								<div>
									<p class="card-subtitle text-secondary mb-2">
										Posted by <b>{{ post['username'] }}</b> on {{ post['timestamp'].strftime('%m/%d/%Y at %I:%M %p') }}
									</p>

									<h5 class="card-title">{{ post['title'] }}</h5>

									<p class="card-text">{{ post['body'] }}</p>
								</div>

								<div class="d-flex align-items-end flex-column">
									<div class="d-flex align-items-center mb-3">
										{% for tag in post['tags'] %}
											<span class="badge border border-dark me-1 rounded-pill text-dark">
												{{ tag|capitalize }} cat
											</span>
										{% endfor %}
										<a href="/favorites/{{post['id']}}">
											<i class="icon-togglable far fa-heart fs-1 ms-3 text-danger"></i>
										</a>
									</div>
									{%if post['username'] == user['username']%}
						<div class="dropdown">

							<button class="btn btn-secondary dropdown-toggle btn-warning" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							  More
							</button>
							<form action="/delete/{{post['id']}}" method="post">
							<ul class="dropdown-menu text-bg-light" aria-labelledby="dropdownMenuButton1">
							  <li>
								<div class="d-flex">
								  <button type="submit" class="btn btn-sm btn-danger dropdown-item">Purr-ge!<img role='button' src="https://i.ibb.co/wM84Cnw/image.png" style="position: absolute; top: 18%; right: 30%;" width='30' height="30" alt="Purge delete button"></button>

								</div>
							  </li>
							</ul>
						</form>
						  </div>
						  {% endif %}
									<h5 class="fw-bold text-secondary">{{ post['catnip'] }} catnip</h5>
								</div>
							</div>

							<img class="w-100" src="{{ post['image_url'] }}">
							<div class="card-body">
								<a href="/upvote/{{post['id']}}" style="text-decoration:none;">
									<button
									class="btn btn-block"
									data-bs-toggle="tooltip"
									data-bs-placement="bottom"
									title="Uppurr">
									<input type="text" hidden value="1" name="upvote">
									<i class="fa fa-paw"></i>
								</button>
								</a>
								
								<span class="text-center">{{ post['catnip'] }}</span>

								<a href="/downvote/{{post['id']}}" style="text-decoration:none;">
								<button
									class="btn btn-block"
									data-bs-toggle="tooltip"
									data-bs-placement="bottom"
									title="Downpurr">

									<input type="text" hidden value="1" name="downvote">
									<i class="downpurr fa fa-paw"></i>
								</button>									
								</a>

								<a href="/comment/{{post['id']}}">
								<button class="btn btn-block">
									<i class="fa fa-commenting-o me-2" aria-hidden="true"></i>Comment
								</button>
							</a>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div class="sidebar">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title text-center">Check Out</h5>

						{% for color in ["grey", "black", "white", "baby", "big"] %}
							<button type="button"
								class="btn btn-outline-dark d-block mb-2 p-3 w-100">
								<p class="my-0 text-center">{{ color.capitalize() }} Cats</p>
							</button>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
