{% set title = "Sign In | FeralFeed" %}

{% extends "base.html" %}
{%block body%}
<div class="container mt-5 w-50 fs-4">
    <h3 class="text-center">Login To Your Account</h3>
    <!-- Login form -->
    <form action="/login" method="post">
        <div class="container mt-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control" autocomplete="off" required>
        </div>
        <div class="container mt-3">
            <label for="password" class="form-label">Enter password</label>
            <input type="password" name="password" id="password"
             placeholder="Enter your password" class="form-control" required>
        </div>
        <div class="container mt-3 text-center">
            <button type="submit" class="btn btn-primary mb-4 w-50 fs-4">Sign In</button>
        </div>
        </form>
        <div class="mt-3 text-center">
            <h4 class="fs-5">Not A Member? <a href="#" class="link-info">Register Now!</a></h4>
        </div>
    </div>
{%endblock%}